<h2><%= @character.name %></h2>
<table>
  <tr>
    <th>
      Gender:
    </th>
    <td>
    <%= @character.gender %>
    </td>
  </tr>
  <tr>
    <th>
      Species:
    </th>
    <td>
      <!-- <a href="/species/<%= @character.species_id %>"> -->
        <%= @character.species%>
        <!-- </a> -->
    </td>
    <td>
      <%= erb :"species/_show" %>
    </td>
  </tr>
  <tr>
    <th>
      Homeplanet:
    </th>
    <td>
    <%= @character.homeplanet %>
    </td>
    <td>
      <%= erb :"planets/_show" %>
    </td>
  </tr>
  <tr>
    <th>
      Profession:
    </th>
    <td>
    <%= @character.profession %>
    </td>
  </tr>
  <tr>
    <th>
      Backstory:
    </th>
    <td>
    <%= @character.backstory %>
    </td>
  </tr>
  <tr>
    <th>
      Creator:</label>
    </th>
    <td>
      <%= @user.username %>
    </td>
  </tr>
</table>
