<h2><%= @character.name %></h2>
<div>
  <label>Gender:</label><%= @character.gender %>
</div>
<div>
  <label>Species:</label><%= @species_obj["name"]%>
</div>
<div>
  <label>Homeplanet:</label><%= @character.homeplanet %>
</div>
<div>
  <label>Profession:</label><%= @character.profession %>
</div>
<div>
  <label>Vehicle:</label><%= @character.vehicle %>
</div>
<div>
  <label>Starship:</label><%= @character.starship %>
</div>
<div>
  <label>Backstory:</label><%= @character.backstory %>
</div>
<div>
  <label>Creator ID:</label><%= @character.user_id %>
</div>
